.counter{
    text-align: center;
    background: #000;
    color: white;
    /* margin-top: 50vh; */
    /* border: 1px solid gray; */
    padding: 20px;
}
.counter>button{
    padding: 10px;
    background: #a69d9d;
    color: #000;
    font-weight: bold;
}